#guide-content{
  --light-grey: #dbdbdbc4;
  --light-blue: #def1ff;
  --call-to-action-blue: #065fd4;
  --gap: 12px;
  --guide-font-size: 14px;
  --guide-font-family: "Roboto", "Arial", sans-serif;

  width: 135%;
}

#guide-content > #header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto !important;
}

/* Styling for divider on guide */
#header > * { margin-right: -12px; }
#header{
  margin-right: var(--gap);
  padding-bottom: var(--gap);
  border-bottom: 1px solid var(--light-grey);
}

#header-wrapper{
  display: flex;
  align-items: center;
}

#toggle-videos-view{
  background-color: inherit;
  color: var(--call-to-action-blue);
  font-family: var(--guide-font-family);
  font-size: var(--guide-font-size);
  font-weight: 500;
  outline: 1px solid var(--light-grey);
  border-radius: 20px;
  border: none;
  padding: var(--gap);
  margin-left: 16px;
  cursor: pointer;
}

#toggle-videos-view:hover{
  outline: none;
  background-color: var(--light-blue);
}

#videos-view[closed]{ display: none; }
#videos-view{ 
  display: grid;
  padding: 2em; 
}

#videos-view #contents > * {
  filter: blur(4px);
}

#guide-inner-content[closed] > 
  *:not(#videos-view){
    display: none;
}

#refresh-message{
  font-family: var(--guide-font-family);
  font-size: var(--guide-font-size);
  justify-self: center;
  padding-top: var(--guide-font-size);
}

/* Shorts */
#contents #content #contents{ display: none !important; }
#contents #content #rich-shelf-header{ display: none !important; }

