#chips[invisible]{
  display: none !important;
}

#contents[invisible]{
  display: none !important;
}

#logo-icon[center]{
  transform: translateX(-50%) scale(2);
  left: 50vw;
  top: 25vh;
  position: absolute;
  display: block;
  z-index: -5 !important;
}






